# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.env
.venv/
venv/
ENV/
env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/
*.nbconvert.ipynb

# =========================
# Artifacts / Generated Data
# =========================
artifacts/
chroma_store/

# =========================
# Model / Cache
# =========================
.cache/
.ollama/

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# ========================
# Extras
# ========================
test1.py
loan_default_prediction_colab.ipynb